
/* ---part of mobile 2x ---- */
@media screen and (min-width: 572px) {
    
    .image-hero2x-mobile{
        width: 100vw;
        display: flex;
    }

    .image-hero-mobile,
    .image-grid-1-mobile,
    .image-grid-2-mobile,
    .image-grid-3-mobile{
        display: none;
    }

    .image-grid-1-2x-mobile,
    .image-grid-2-2x-mobile,
    .image-grid-3-2x-mobile{
        width: 100vw;
        padding: 5rem 1rem 0 1rem;
        display: block;
    }

   
}

/* ---part of tablet ---- */

@media screen and (min-width: 768px) {
    /* --- top part of tablet ---- */
   
   
    .top-section{
        display: flex;
        flex-direction: row;
        height: 80vw;

    }
    .image-hero-tablet{
        width: 45vw;
        height: 80vw;
        display: block;
    }

    .image-hero2x-mobile{
        display: none;
    }
    
    .white-part-of-header{
        width: 50vw;
        height: 90vw;
        margin-right: 2rem;
    }
    .div-white-part-of-header{
        width: 50vw;
        height: 90vw;
    }
    .head-of-mobile-version{
        width: 50vw;
        height: 16.93vw;
        font-size: 9.12vw;
        line-height:8.46vw ;
       
    }
    .text-of-top{
        width: 55vw;
        height: 14vw;
        font-size: 2.6vw;
        line-height: 4vw ;
        
        padding-right: 1rem;
    }
    .white-part-of-header{
        margin: 7rem 1rem 0 -4rem;
    }
    
    
    .arrow-right-black-part,
    .img-icon-arrow-right{
        height: 15vw;
        font-size: 3vw;
    }
    
    
    .icon-arrow-right{
        width: 34vw;
        
       
    }
    .img-icon-arrow-right,
    .arrow-right-black-part{
      height: 9vw;
       
    }
    .h1-arrow-right-black-part{
        letter-spacing: 0.5vw;
        font-size: 2.5vw;
    }
   

   

     /* --- middle part of tablet ---- */
     .middle-section{
        width: 100vw;
        
     }
     .first-part-of-middle{
        width: 100vw;
        display: flex;
        flex-direction: row-reverse;
       
     }
     .image-grid-1-tablet{
        width: 50vw;
        height: 45vw;
        display: block;
        justify-content: center;
        align-items: center;
        margin: 6rem  2rem 0 0;
       
     }
     .image-grid-1-mobile,
     .image-grid-1-2x-mobile{
        display: none;
     }

     
     .middle-page-first-part{
        width: 50vw;
     }
    
    .second-head{
        width: 50vw;
        font-size: 8vw;
        line-height: 7vw;
        padding: 7rem 0rem 1rem 4rem;
    }
    .first-text-of-middle{
        width: 50vw;
        font-size: 3vw;
        line-height: 4vw;
        padding: 5rem 2rem 1rem 4rem;
    }

    /* --- second middle part of tablet ---- */
     .image-grid-2-tablet,
     .image-grid-3-tablet{
        display: block;
     }
    
    .image-grid-2-mobile,
    .image-grid-2-2x-mobile,
    .image-grid-3-mobile,
    .image-grid-3-2x-mobile{
        display: none;
    }
   

    .second-part-of-middle{
        margin-top: 5rem;
        padding-left: 1rem;
        width: 100vw;
        height: 80vw;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        
    }

    .image-grid-2-tablet{ 
        width: 50vw;
        height: 100vw;
        padding-bottom: 0.5rem;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        
    }

    
    .third-head{
        font-size: 6vw;
        line-height: 6vw;
    }
   
    .text-second-part-of-middle{
        width: 29vw;
        height: 15vw;
        font-size: 3vw;
        line-height: 3.64vw; 
    }
    .image-grid-3-tablet{
        width: 40vw; 
        height: 44vw;
        margin: auto;
    
    }

    .last-second-part-of-middle{
        width: 40vw;
        height: 54vw;
    }
    /* button */

    .button{
      width: 100vw;
      height: 20vw;
      margin-top: 15rem;
    }
    .button-part{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }
    .icon-light{
        margin: 3rem 0 0 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .text-of-button-part{
        width: 37vw;
        height: 14vw;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.8vw;
        line-height: 3vw;
        margin-top: 2rem;
      }
    .button-icons{
        display: flex;
        margin: 3rem 2rem 0 13rem;
    }
    .icon-instagram,
    .icon-twitter {
     margin-left: 3vw;
   
    }
    
}

